.dot_button {
  cursor: pointer;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 0px;
  background: black;
  color: white;
  border: 2px solid black;
  text-align: center;
  font: 23px Arial, sans-serif;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dot_button:hover {
  background-color: grey;
  border: gray;
}

.dot_button:focus {
  outline: 1px dotted;
}

.dot_button:disabled {
  cursor: not-allowed;
  pointer-events: none;
}
